*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url('../images/room.jpg.jpg');
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
 footer {
        padding: 10px 20px;
        background: #666;
     color: white;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;   
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
/*--------------- About page ------------------*/
.sub-header h1{
    margin-top: 50px;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-60);
    text-align: center;
    color: white;
}
.content p{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
/*--------------- Portfoilo page ------------------*/
.row{
    display: flex; 
}
.container{
    width: 20%;
}
.container img{
    width: 100%;
}
.row .container:focus,
.row .container:hover{
    transform: scale(1.5);
    z-index: 1;
}
/*--------------- Concept1 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/*--------------- Concept2 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 58%;
}
/*--------------- Concept3 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 58%;
}
/*--------------- Concept4 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 58%;
}
/*--------------- Concept5 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 58%;
}
/*--------------- Concept6 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*--------------- Concept7 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*--------------- Concept8 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*--------------- Concept9 page ------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
/*--------------- Contact page ------------------*/
.contact-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}
.form-container {
  flex: 1;
  padding: 20px;
}

form {
  margin: 0 auto;
  max-width: 800px; 
}
.form label {
  display: block;
  margin-bottom: 160px;
}

.form-control {
  width: 400%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  margin-bottom: 60px;
}

.form-control:hover {
  width: 400%; 
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
}

input {
  height: 35px;
}
